.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-content {
  background-color: rgb(10, 10, 10);
  padding: 40px;
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  width: 80%;
  max-width: 900px;
  overflow-y: auto;
}

.cart-content h2 {
  background-color: rgba(0, 0, 0, 0.322);
  backdrop-filter: blur(10px);
  border: 2px solid rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  color: #f0f2f3;
  text-align: center;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 0.5fr; /* 5 colunas agora (nome, quantidade, preço, total e remover) */
  gap: 10px;
  align-items: center;
  background-color: #3333337a;
  border-radius: 8px;
  padding: 10px;
  color: white;
}

.cart-item p {
  margin: 0;
  text-align: center;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.price, .total {
  font-size: 1rem;
  color: #f39c12;
}

.remove-item {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.cart-total {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-align: right;
}

.finalize-button {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .cart-content {
    width: 90%;  /* Reduz a largura do modal em telas pequenas */
    padding: 20px; /* Menos padding */
  }

  .cart-item {
    grid-template-columns: 2fr 1fr 1fr 1fr; /* Ajusta para 4 colunas em telas pequenas */
  }

  .cart-item p {
    font-size: 14px; /* Ajusta o tamanho da fonte para telas pequenas */
  }

  .remove-item {
    padding: 5px 8px; /* Menor tamanho para o botão */
    font-size: 0.9rem; /* Ajusta o tamanho da fonte */
  }

  .cart-total {
    font-size: 1rem; /* Menor tamanho da fonte para o total */
  }

  .finalize-button {
    font-size: 1rem; /* Menor tamanho da fonte no botão */
    padding: 8px; /* Menor padding */
  }
}

@media (max-width: 480px) {
  .cart-item {
    grid-template-columns: 1fr 1fr; /* Duas colunas em telas muito pequenas */
  }

  .cart-content {
    padding: 15px;
  }

  .cart-item p {
    font-size: 12px; /* Fontes ainda menores em telas menores */
  }

  .finalize-button {
    font-size: 1rem; /* Ajusta o tamanho do botão */
    padding: 10px 5px; /* Menor padding para caber em telas pequenas */
  }
}
